@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

.carrinho{

  color: black;
  font-weight: 600;

}



body {
  
  background: rgb(246, 246, 246);
  font-family: 'Lato', sans-serif;

}

body > header {
  background: #111;
  color: #FCE400;
  font-size: 24px;
  padding:  0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body > main {
  background: #ffbd00;
  padding: 0 30px 30px;
  /* z-index: -1; */
}

body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}

body > main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > main .content section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body > main .content aside {
  min-width: 250px;
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 3px solid #eee;
}

table thead tr th {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #020202;
}

table tbody tr {
  border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product img {
  border-radius: 20px;
  width: 290px;
  height: 290px;    
}

.product .info {
  margin-left: 20px;
}

.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
  font-style: oblique;
  font-weight: 800;
  text-shadow: 4px 4px 5px rgba(0,0,0,0.6);
  
}

.product .info .category {
  color: #050404;
  font-size: 13px;
  font-family: sans-serif;
  
  line-height: 17px;
}

.qty {
  background: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}

.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.remove:hover {
  background: #ddd;
}

aside {
  margin-left: 30px;
}

aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
  color: black;
  font-weight: 400;
}

aside .box .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #080606;
}

aside .box .info > div:last-child {
  margin: 0;
}

aside .box .info button {
  color: #28a745;
  font-weight: 500;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside > button {
  border: 0;
  padding: 15px 0;
  color: rgb(7, 5, 5);
  font-weight: 800;
  background: #FCE400;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside > button:hover {
  background: red;
}


.describe{
  letter-spacing: 20px;
  font-size: 100px;
}
.categoria{

  width: 150px;
  height: 150px;
  
}

/* Esconde o elemento "select" original */
.hidden {
  display: none;
}

/* Estilo básico do container */
.select-container {

  width: 200px;
}

/* Estilo das opções */
.options-container {
  position: relative;
 left: 60px;
  border-radius: 5px;

}

/* Estilo dos checkboxes */
.option input[type="checkbox"] {

}

/* Estilo do rótulo */
.option label {
  cursor: pointer;
}




@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  table {
    width: 100%;
  }
 
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  
  aside {
    width: 100%;
    margin-top: 20px;
  }
}


/* @media only screen and  (min-width: 360px) {
  .product .info .category {
    color: #050404;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 17px;
    position: relative;
    right: 200px;
    top: 300px;
   display: block;
   justify-content: center;
   align-items: center;
   height: 200px;
  text-align: center;
  white-space: nowrap
  }

  .product{

height: 500px;


  }


} */



